#flash-button-group {
    width: 100%;

    text-align: center;
}

#simple-flash {
    margin-top: 5%;
    width: 80%;
    height: 10%;

    font-size: 350%;
}

#input-group {
    margin: 3%;
    text-align: center;
}

#number-input {
    width: 50%;
}

#start-flashing-button {
    width: 30%;
}

